.setHeightDevenirFreelance {
    height: calc(100vh - 100px);
}

.specialContainerDevenirFreelance {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#searchDevenirFreelance .ap-input {
    height: 48px !important;
}