.ais-SearchBox {
    margin: 1em 0;
  }

  .pagination {
    margin-left: auto;
    margin-right: auto;
    display: block !important;
  }
  
  .ais-Pagination {
    margin-top: 1em;
  }

  .ais-Hits-item img {
    margin-right: 1em;
  }

  .ais-Hits-item {
    /* flex: 0 0 33.333333%;
    max-width: 33.333333%; */
    width: 400px !important;
    padding : 10px;
  }

  .ais-Hits-item, .ais-InfiniteHits-item, .ais-InfiniteResults-item, .ais-Results-item {
    /* margin-left: 0; */
  }
  
  .hit-name {
    margin-bottom: 0.5em;
  }
  
  .hit-description {
    color: #888;
    font-size: 14px;
    margin-bottom: 0.5em;
  }
  
  .ais-InstantSearch {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
  }

.ais-Hits-item {
    width: 235px;
}

.specialContainerRecherche {
  margin-left: 20px;
  margin-right: 20px;
}