.side-nav-custom-dashboard {
    width: 240px;
    background-color: #f7f7f7;
    height: calc(100vh - 56px);
    position: -webkit-sticky;
    top: 56px;
    padding: 25px;
    z-index: 1;
}

.stats-body {
    width: 100%;
    background-color: #e8e8e8;
    height: calc(100vh - 56px);
}

.stat-item {
    background-color: #fff;
    display: flex;
    border-radius: 7px;
    min-height: 180px;
}

.stat-item-row {
    display: flex;
    align-items: center;
}

.stat-revenu {
    font-weight: bold;
    font-size: 1.5em;
}

.stat-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px hsla(0,0%,11%, 0.1);
}

.stat-icon {
    color: #848484;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-analytics-item-important {
    font-weight: bold;
 }
